body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #555;
  color: white;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.controls {
  margin: 20px 0;
}
select{
  padding: 6px;
  background-color: #ccc;
  margin-right: 10px;
  color: black;
}
input{
  padding: 6px;
  background-color: #ccc;
  color: black;
  margin-right: 10px;
}
#user-list {
  list-style: none;
  padding: 0;
}

#user-list li {
  padding: 10px;
  border: 1px solid #ccc;
  margin: 5px 0;
  color: white;
}

#loader {
  display: none;
  font-size: 18px;
  color: #555;
}

.loader {
  display: block;
}
body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.controls {
  margin: 20px 0;
}

#user-list {
  list-style: none;
  padding: 0;
}

#user-list li {
  padding: 10px;
  border: 1px solid #ccc;
  margin: 5px 0;
}

#loader {
  display: none;
  text-align: center;
  margin: 20px 0;
}

.pulse {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-top: 200px;
  border-radius: 50%;
  background-color: #3498db;
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% {
      transform: scale(0.9);
      opacity: 0.7;
  }
  50% {
      transform: scale(1.1);
      opacity: 1;
  }
  100% {
      transform: scale(0.9);
      opacity: 0.7;
  }
}
